@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

.main{
    background-image: url('../images/enconstruccion.png');
    width: 1366px;
    height: 768px;
}

.link{
    position: fixed;
    height: 3em;
    width: 190px;
    border: 1px solid black;
    margin-top: 698px;
    margin-left: 1156px;
}

    .link:hover{
        border: 3px solid black;
    }